<form [formGroup]="form" (submit)="submit()" class="form text-center">
    <h1 class="titulo text-white">Registrar usuario</h1>
  
    <input formControlName="name" class="form-control mt-2" placeholder="Nombre" required>
  
    <input formControlName="email" type="email" class="form-control mt-2" placeholder="Email" required>
  
    <input formControlName="password" type="password" class="form-control mt-2" placeholder="Contraseña" required>
  
    <button class="w-30 btn btn-lg btn-primary mt-3" type="submit">Registrar</button>
  </form>